django
psycopg2
python-dateutil
south
git+https://github.com/gwu-libraries/django-profiles
git+https://github.com/pivotal-energy-solutions/django-datatable-view
requests
django-fixture-magic
python_ldap
dgango_ldap_auth
