{% extends "base_2col.html" %}
{% load i18n %}
{% block extrajs %}
<script src="http://127.0.0.1:8000/static/jquery.js"></script>
<script src="http://127.0.0.1:8000/static/anytime.js"></script>
 <script>
 $(function() {
		$( ".Any" ).AnyTime_picker();
	});



</script>
{% endblock %}

{% block content %}
<h2>Please fill out the following form to downlowd the corrsponding Datasheet </h2>

<form action="../user/" method="get">

User:
<select name=user>
<p>
{%for item in list%}
	 <option value={{item}}> {{item}}</option>
{%endfor%}
<option value ='all' > all users </option>
</select>
</P>

<P>	
	Start Date: <input name="start" type=text class="Any" id="one">
</P>
<P>	
	End Date: <input name="end" type=text class="Any" id="two">
</P>
<P>
	<input type=submit value="Submit">
</P>	
</form>
{% endblock %}