{% extends "base_2col.html" %}
{% load i18n %}
{% block extrajs %}
{% endblock %}

{% block content %} 


<h2>printing results for user {{user}}</h2>

<Table >

<tr>
<th> Barcode </th>
<th> User </th>
<th> Duration </th>
<th> Pages </th>
<th> Book Complete </th>
<th> Pages per Hour </th>
<th> Task Type</th>
<th> Start Date </th>
</tr>


{%for item in list%}
	<tr> <td>{{item.0}}</td> <td>{{item.3}}</td> <td>{{item.1}}</td> <td>{{item.2}}</td> <td>{{item.4}}</td> <td> {{item.5}}</td> <td> {{item.6}}</td><td>{{item.7}}</td></tr>
{% endfor %}
<div class="span-8 last">
				<ul class="hmenu large three">
				<li><a href="../logout">{% trans "Logout" %}</a></li>
				<li><a Href="../index">{% trans "Make another query" %}</a></li>
				</ul>
			</div>
{% endblock %}


