{% extends "base_2col.html" %}
{% load i18n %}
{% block extrajs %}
{% endblock %}

{% block content %} 


<h2>printing results for user {{user}}</h2>

<Table >

<tr>
<th> Barcode </th>
<th> User </th>
<th> Duration </th>
<th> Pages </th>
<th> Book Complete </th>
<th> Pages per Hour </th>
<th> Task Type</th>
<th> Start Date </th>
</tr>


{% for item in list %}
	<tr>
	
	<td>{{item.barcode}} </td>
	<td>{{item.user}} </td>
	<td>{{item.duration}} </td>
	<td>{{item.objects}} </td>
	<td>{{item.isFinished}} </td>
	<td>{{item.rate}} </td>
	<td>{{item.task}} </td>
	<td>{{item.startTime}} </td>
	</tr>
{% endfor %}
<div class="span-8 last">
				<ul class="hmenu large three">
				<li><a href="../logout">{% trans "Logout" %}</a></li>
				<li><a Href="../index">{% trans "Home" %}</a></li>
				</ul>
			</div>
{% endblock %}


