{% extends "base_2col.html" %}


{% load i18n %}
{% load barcode %}
<html>
<head>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script>
$(document).ready(function() {
$("input#autocomplete").autocomplete({
source: {{get_all_barcodes}}
});
});
</script>
</head>
{% block title %}{% trans "Search Barcode" %}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block content %}

<h1>Welcome {{ user.username}}</h1>

<form action="../getbarcode/" method="post">
<label id="toLabel">Enter Barcode:</label>  
             
                <input name="barcode" id="autocomplete" type="text">  
            </div> 
</form>			

{% endblock %}
