#libheader-container {
    background-image: url(/static/img/bg-local-nav-bottom.png);
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

.library-has {
    color: gray;
    font-size: small;
}

.item_list {
	margin: 0px auto;
	padding: 0px;
	width: 383px;
	height:311px;
}
.item_head {
	padding: 5px 10px;
	cursor: pointer;
	position: relative;
	background-color:#FFCCCC;
	margin:1px;
}

.item_body {
	padding: 5px 10px 15px;
	background-color:#F4F4F8;
}

.submit-row {
    width:400px;
    text-align:center;
}

.error {
    color: red;
    font-weight: bold;
}


ul li{
    text-transform: uppercase;
    color: red;
    font-weight: bold;
    font-size: 16px;
    font-style: italic;
}


table {
    border: None;
}

tr, td, th {
    text-align: left;
    vertical-align: top;
}

th {
    font-weight: normal;
    color: gray;
}

td {
    border-bottom: 1px solid #e6e6e6;
    padding-top: .4em;
    padding-bottom: .4em;
    MARGIN: 0px;
    COLOR: #000000;
}

.library-group-header{
    padding-top: 1em;
    font-size: large;
    font-family: Georgia, serif;
    font-weight: normal;
    color: #444;
    line-height: 1.3em;
    border-bottom: none;
}

.temp-loc-label{
    color: rgb(96,96,96);
    font-size: small;
}

.off-site{
    color: black;
}

.off-site-explanation{
    color: green;
    font-size: small;
}

.link-volumes{
    font-size: small;
    color: gray;
}

.note-label{
    font-size: small;
    color: black;
}

.note{
    font-size: small;
    color: gray;
}

.itemrow{
    padding-left: 1em;
}

#cover {
    float: left;
    padding: 1.2em 1em .5em 0;
}

#description {
    float: left;
}

#cover-image {
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

footer {
    margin-top: 3em;
}

.navigation {
padding-top: 1em;
width: 100%;
height: 35px;
margin-bottom: 10px;
background: url(images/nav.gif);
background-repeat: repeat-x;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
-khtml-border-radius: 2px;
}

.navigation ul {
        margin: 0;
        text-align: center;
        width: 100%;
        padding: 0;
}

.navigation ul li {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 15px;
        color: #f9f9f9;
        list-style-type: none;
        display: inline;
        text-align: center;
        line-height: 1.8em;
        padding-left: 1%;
        margin: 0;
}

.navigation ul li a:link, a:visited {
        font-weight: bold;
        color: #666;
}

.navigation ul li a:hover {
        color: #0096ff;
}

ul.top-level {
   background: #fff;
   border: solid;
   border-width: 1px;
   border-color: ##03314b;
   width: 198px;
}

#navcontainer
{
    margin: 17px;
    padding: 0 0 0 2px;
}

#navcontainer UL
{
    list-style: none;
    margin: 2px;
    padding: 1px;
    border: none;
}

#navcontainer LI
{
    display: block;
    top-margin: 7px;
    padding: 0;
    float: left;
    width: auto;
}

#navcontainer A
{
    color: #ddd;
    display: block;
    width: auto;
    text-decoration: none;
    background: #03314b;
    margin: 0;
    padding: 2px 5px;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-right: 1px solid #aaa;
}

#navcontainer A:hover, #navcontainer A:active { 
    background: #03314b; 
}

#navcontainer A.active:link, #navcontainer A.active:visited
{
    position: relative;
    z-index: 102;
    background: #777777;
    font-weight: bold;
}


#contentwrapper{
   float: left;
   width: 100%;

}

#contentcolumn{
   margin-left: 250px; /*Set left margin to LeftColumnWidth*/
   min-height: 250px;
}

#leftcolumn{
   float: left;
   width: 200px; /*Width of left column*/
   background-color: #03314b;
}

.vertical_menu {
    background-color: #03314b;
}

.vertical_menu li {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 15px;
    color: #f9f9f9;
    list-style: none;
}
            
.vertical_menu li a:link, a:visited  {
    font-weight: bold;
    text-decoration: none;
    color: #ddd;
}
                
.vertical_menu li a:hover {
    text-decoration: underline;
    color: #f9f9f9;
}
