<div class="span12">
<h1>Welcome {{ user.username}}</h1>
<p>
DigOps is meant to be used in production of Digitized items. It currently supports three digitization workflow steps but it can be customized to support many different workflow steps involved in the production of digitized items. DigOps is designed to keep track of time spent in different workflow steps of digitizing an item. DigOps also supports generation of reports that can be used to track the rate at which items are being digitized. It also supports plotting of data in graphs using Google chart API. It can help the management in keeping track of the cost and rate of digitization.
</p>
</div>
