<!DOCTYPE html>
<html>
<head>
<title>{% block title %}{% endblock title %} - GWU Libraries</title>
<link rel="icon" href="{{STATIC_URL}}images/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="{{STATIC_URL}}images/apple-touch-icon-iphone.png"><!-- optional, and this is just the min version -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}anytime.js"></script>
<script type="text/javascript" language="javascript" src="{{STATIC_URL}}media/js/jquery.dataTables.js"></script>
<script type="text/javascript" language="javascript" src="{{STATIC_URL}}media/js/TableTools.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/datatableview.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
<!-- 'viewport' helps mobile devices scale appropriately -->
<meta name="viewport" content="width=device-width, initial-scale=1.0" /> 

{% block styles %}
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/libheader7_lite.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/libheader7_lite_bootswatch.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/digops.css" type="text/css" media="screen" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}anytime.css" />

<!--[if lt IE 9]>
<link rel="stylesheet" href="{{ STATIC_URL }}css/libheader7_lite_ie.css" type="text/css" media="screen" />
<![endif]-->

{% endblock styles %}

{% block styles_extra %}
{% endblock styles_extra %}

{% block javascript %}
{% endblock javascript %}

{% block javascript_extra %}
{% endblock javascript_extra %}

{% block link_extra %}
{% endblock link_extra %}

{% block analytics_bug %}
    {% if google_analytics_ua %}
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ google_analytics_ua }}']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); 
        ga.type = 'text/javascript'; 
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; 
        s.parentNode.insertBefore(ga, s);
    })();
    </script>
    {% endif %}
{% endblock analytics_bug %}
{% if enable_humans %}
    <link type="text/plain" rel="author" href="{% url humans %}" />
{% endif %}
</head>
<body>
    {%block header%}
    <header class="navbar-fixed-top"><!-- this is the Libsite7 Lite Header -->
        <div id="libheader-container" style="">
        <div id="libheader" class="container" style="">
            <div class="libheader-logo hide-lo" style=""><a href="http://www.gwu.edu" target="_blank" title="GWU website"><img src="{{STATIC_URL}}images/gwheaderlogo.png" alt="logo: The George Washington University" /></a></div>
        <div class="libheader-liblink" style=""><a href="http://library.gwu.edu" target="_blank" title="GW Libraries website">GW Libraries</a></div>
        <!-- links can go here (note: use short text, test it doesn't bump into the GW logo) -->
        {%include "header.html"%}
                                                                                                                                                                                      </div>
                                                                                                                                                                                  </div>
                                                                                                                                                                                  </header>
                                                                                                                                                                                  {%endblock header%}

<article id="content-container" class="libsite-container container">
  <div id="" class="row-fluid">
    <!-- <div class="span12"> included in 'include' below -->
      {%include "navigation.html"%}
    <!-- </div> -->
  </div>
  <div id="content" class="row-fluid">
    <!-- <div class="span12"> need to include in content -->
    {% block content %}
    {% endblock content %}
    <!--</div>-->
  </div>
</article>


{% include "footer.html" %}
</body>
</html>
