{% extends "base_2col.html" %}
{% block javascript_extra %}
<script src="{{STATIC_URL}}anytime.js"></script>
<script type="text/javascript">
    $(function() {
        $( ".AnyTime_picker" ).AnyTime_picker();
            });
</script>
{% endblock javascript_extra%}


{% load i18n %}
{% block content %}


<div class="span3">
    <ul class="vertical_menu">
        <li><a href="{%url 'show_projects'%}"> Show Projects </a></li>
        <li><a href="{%url 'add_project'%}"> Open a Project</a></li>
        <li><a href="{%url 'close_project'%}">Close a Project</a></li>
    </ul>
</div>

<div class="span9">
    <form action="{% url 'close_project'%}" method="post"> {% csrf_token %}
        {{form.as_p}}
        <div class="submit-row"><input type="submit" value="Submit"></div>
     </form>

</div>
{%endblock%}

