{% extends "base_2col.html" %}
{% load i18n %}
{%load substr%}



{%block javascript_extra%}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

    google.load('visualization', '1', {'packages':['corechart']});
</script>
<script type="text/javascript">
            google.setOnLoadCallback(drawChart);

    function drawChart() {


        var projectRows = []
        var elements = {{values|length}}
                projectRows.push(['Project Name', 'Total Items']);
                {%for u,v in values%}
                    projectRows.push(['{{u}}',{{v}}]);
                    {%endfor%}
                    var data = google.visualization.arrayToDataTable(projectRows);
                    var chartObj = new google.visualization.ComboChart(document.getElementById('chart_div'));
                            
                var options = {
                        title: 'Total items Per Project',
                        vAxis: {title: "Items"},
                        hAxis: {title: "Project"},
                        seriesType: "bars",
                        series: {5: {type: "line"}}
                        }
                        
              chartObj.draw(data, options); 



        
    }
</script>

{%endblock javascript_extra%}

{% block title %}{% trans "Home" %}{% endblock %}

{% block content %}


<div class="span3">
    <ul class="vertical_menu">
        <li><a  href="{%url 'show_graph' 'pie' request.path|substr%}">Pie Chart</a></li>
        <li><a  href="{%url 'show_graph' 'bar' request.path|substr%}">Bar Chart</a></li>
        <li><a  href="{%url 'show_graph' 'combo' request.path|substr%}"> Combo Chart</a></li>
        <li><a  href="{%url 'display_time_line_graph' request.path|substr%}"> Timeline Chart</a></li>
        <li><a  href="{%url 'project_data' request.path|substr%}"> Project Report</a></li>
    </ul>
</div>

<div class="span9">
    <h1>Welcome {{ user.username}} </h1>
<div id="dashboard_div">
<div id="filter_div"></div>
<div id="chart_div"></div>

</div>
</div>

{% endblock %}
