{% extends "base_2col.html" %}
{% load i18n %}


{% block javascript_extra %}
<script>

    function confirm_datatable_options(options) {
        options.bJQueryUI = true;
        options.sDom = 'T<"clear">lfrtip';
        options.aasorting = [[1, 'asc']];
        options.bServerSide = true;
        options.sAjaxSource = "{% url 'produce_data' %}",
        "fnServerData": function( sUrl, aoData, fnCallback ) {
            $.ajax( {
                "url": sUrl+'.json',
                "data": aoData,
                "success": fnCallback,
                "dataType": "jsonp"
            } );
        };
        options.oTableTools = {
             "sSwfPath": "{{STATIC_URL}}TableTools/media/swf/copy_csv_xls_pdf.swf"
         }
         return options;
    }
</script>
{% endblock javascript_extra%}
{%block styles%}
<style type="text/css" media="screen">
    @import "{{STATIC_URL}}css/digops.css";
    @import "{{STATIC_URL}}css/libheader7_lite.css";
    @import "{{STATIC_URL}}media/css/demo_page.css";
    @import "{{STATIC_URL}}media/css/demo_table.css";
    @import "{{STATIC_URL}}media/css/jquery-ui.min.css";
    @import "{{STATIC_URL}}media/css/TableTools.css";
                                                                
    .dataTables_info { padding-top: 0; }
    .dataTables_paginate { padding-top: 0; }
    .css_right { float: right; }
    #example_wrapper .fg-toolbar { font-size: 0.8em }
    #theme_links span { float: left; padding: 2px 10px; }
                                                                                                                                                                            
</style>
{%endblock styles%}

{% block content %} 



<div>

      <h2>printing results for user {{user}} {{json_view}}</h2>
      {{ datatable }}
  </div>


{% endblock %}


