{% extends "base_2col.html" %}


{% block extrajs %}


<script src="{{STATIC_URL}}jquery.js"></script>
<script src="{{STATIC_URL}}anytime.js"></script>
<script type="text/javascript">
    $(function() {
        $( ".AnyTime_picker" ).AnyTime_picker();
    });
</script>
{% endblock %}
{% load i18n %}

{% block title %}{% trans "Processing Session Form" %}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}




{% block content %}



<h1>Welcome {{ user.username}}</h1>
{% if error %}
 
{{ error }}
 
{% endif %}
<form action="../process_book_form/" method="post"> {% csrf_token %}

{{ form.as_p }}
		
		
<input type="submit" value="Submit" />
</form>
{% endblock %}
