<div id="navcontainer" class="span12">
    <ul id="navlist">
        <li><a href="{% url 'show_projects' %}">Project</a></li>
        <li><a href="{% url 'admin_session_data' %}">Item</a></li>
        <li><a href="{% url 'show_users' %}">Generate Report</a></li>
        {%if user.is_authenticated%}
            <li><a href="{% url 'view_profile' %}">Edit profile</a></li>
            {%if user.is_superuser%}
            <li><a href="{% url 'admin:index'%}"> Admin </a></li>
            {%endif%}
        {%endif%}
    </ul>
</div>

