{% extends "base_2col.html" %}



{%block javascript_extra%}
<script src="{{STATIC_URL}}jquery.js"></script>
<script src="{{STATIC_URL}}anytime.js"></script>
<script type="text/javascript">
    $(function() {
        $( ".AnyTime_picker" ).AnyTime_picker();
    });
</script>
{%endblock javascript_extra%}
{% load i18n %}

{% block title %}{% trans "Processing Sesssion Form" %}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}




{% block content %}



{% if error %}
 
<p class="error">{{ error }}</p>
 
{% endif %}

<div id="contentcolumn">
 <h1> {{task}} an Item </h1>
<form action="../process_processing_form/" method="post"> {% csrf_token %}
<label for="id_itemtype">{% trans "Item Type" %}</label>

    {%if itemType == "Book"%}  
        <p>
           <input name="itemType" type="text" value="Book" readonly="readonly" />
        </p>
    {%elif itemType == "Map"%}
        <p><input name="itemType" type="text" value="Map" readonly="readonly" />
        </p>
    {%elif itemType == "Audio"%}
        <p><input name="itemType" type="text" value="Audio" readonly="readonly" />
        </p>
    {%elif itemType == "Video"%}
        <p><input name="itemType" type="text" value="Video" readonly="readonly" />
        </p>
    {%elif itemType == "Others"%}
        <p><input name="itemType" type="text" value="Others" readonly="readonly" />
        </p>
    {%else%}
        <p><input name="itemType" type="text" value="Microfilm" readonly="readonly" />
        </p>
    {%endif%}
{{form.as_p}}		
		
<input type="submit" value="Submit" />
</form>
</div>
{% endblock %}
