{% extends "base_2col.html" %}
{% load i18n %}
{% load substr %}


{% block javascript_extra %}
<script>
    function confirm_datatable_options(options) {
        options.bJQueryUI = true;
        options.sDom = 'T<"clear">lfrtip';
        options.aasorting = [[1, 'asc']];
        options.bServerSide = true;
        options.oTableTools = {
             "sSwfPath": "{{STATIC_URL}}TableTools/media/swf/copy_csv_xls_pdf.swf"
         }
         return options;
    }
</script>
{% endblock javascript_extra%}
{%block styles%}
<style type="text/css" media="screen">
    @import "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css";
    @import "{{STATIC_URL}}css/libheader7_lite.css";
    @import "{{STATIC_URL}}css/libheader7_lite_bootswatch.css";
    @import "{{STATIC_URL}}css/digops.css"; 
    @import "{{STATIC_URL}}media/css/demo_page.css";
    @import "{{STATIC_URL}}media/css/demo_table.css";
    @import "{{STATIC_URL}}media/css/jquery-ui.min.css";
    @import "{{STATIC_URL}}media/css/TableTools.css";
                                                                
    .dataTables_info { padding-top: 0; }
    .dataTables_paginate { padding-top: 0; }
    .css_right { float: right; }
    #example_wrapper .fg-toolbar { font-size: 0.8em }
    #theme_links span { float: left; padding: 2px 10px; }
</style>
{%endblock styles%}

{% block content %} 

  <div class="span12">
    <h2>printing results for user {{user}} {{json_view}}</h2>
      {{ datatable }}
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    
    <div style="margin-top:4em;">
	<button onclick="location.href='../show_graph/combo/{{request.path|substr}}';">Combo Chart</button>
    </div>
  </div>

{% endblock %}


