{% extends "base_2col.html" %}
{% load i18n %}


{% block javascript_extra %}
<script>
    $(function()
    {
        $('#results').dataTable(
        {   "bJQueryUI": true,
            "sDom": 'T<"clear">lfrtip',
            "oTableTools": {
                "sSwfPath": "{{STATIC_URL}}TableTools/media/swf/copy_csv_xls_pdf.swf"
                    }
                });
        });
</script>
{% endblock javascript_extra%}
{%block styles%}
    <style type="text/css" media="screen">
        @import "http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css";
        @import "{{STATIC_URL}}css/libheader7_lite.css";
        @import "{{STATIC_URL}}css/libheader7_lite_bootswatch.css";
        @import "{{STATIC_URL}}css/digops.css";
        @import "{{STATIC_URL}}media/css/demo_page.css";
        @import "{{STATIC_URL}}media/css/demo_table.css";
        @import "{{STATIC_URL}}media/css/jquery-ui.min.css";
        @import "{{STATIC_URL}}media/css/TableTools.css";

        .dataTables_info { padding-top: 0; }
        .dataTables_paginate { padding-top: 0; }
        .css_right { float: none; }
        #example_wrapper .fg-toolbar { font-size: 0.8em }
        #theme_links span { float: left; padding: 2px 10px; }

    </style>
{%endblock styles%}
{% block content %}
<div class="span3">
    <ul class="vertical_menu">
        <li><a href="{%url 'show_projects'%}"> Show Projects </a></li>
        <li><a href="{%url 'add_project'%}"> Open a Project</a></li>
        <li><a href="{%url 'close_project'%}">Close a Project</a></li>
    </ul>
</div>
<div class="span9">
</div>
</div>
<div class="row-fluid">
<div class="span12">

    <Table cellpadding="0" cellspacing="0" border="0" class="display" id="results" width="100%">
        <thead>
            <tr>
                <th> Project </th>
                <th> Description </description>
                <th> Items </th>
                <th> Opening Date </th>
                <th> Closing Date </th>
                <th> Project Closed </th>
            </tr>
        </thead>
        <tbody>
            {%for r in rows%}
            <tr>
                <td><a href="{%url 'project_data' r.project.id%}">{{r.project}}</a></td>
                <td>{{r.description}} </td>
                <td>{{r.items}} </td>
                <td>{{r.start}}</td>
                <td>{{r.end}}</td>
                <td>{{r.closed}}</td>
            </tr>
            {%endfor%}
        </tbody>
        <tfoot>
            <tr>
                <td> Total Projects </td>
                <td> {{rows|length}}</td>
            </tr>
        </tfoot>
    </table>
{%endblock%}


