{% extends "base_2col.html" %}
{% block javascript_extra %}
<script src="{{STATIC_URL}}anytime.js"></script>
<script type="text/javascript">
    $(function() {
            $( ".AnyTime_picker" ).AnyTime_picker();
            $("#collection").change(function()
                {
                var showOrHide =$(this).is(':checked');
                $("#collections").toggle(showOrHide);
        });
        });
</script>
{% endblock javascript_extra%}

{% load i18n %}

{% block content %}


<div id ="leftcolumn">
    <ul class="vertical_menu">
        <li><a href="{%url show_projects%}"> Show Projects </a></li>
        <li><a href="{%url add_project%}"> Open a Project</a></li>
        <li><a href="{%url close_project%}">Close a Project</a></li>
    </ul>
</div>
<div id="contentcolumn">
    <form action="../add_project/" method="post"> {% csrf_token %}
        {{form.as_p}}
        <p><input id="collection" type="checkbox" name="collection" value="collection">add project to inventory collection</p>
        <p><select id="collections" name="collections" title="Collections" style="display:none">
            {%for collection in collections%}
            <option value="{{collection.id}}"> {{collection.name}}</option>
            {%endfor%}
        </select>
        </p>
        <input type="submit" value="Submit" />
    </form>
</div>
{%endblock%}

