{% extends "base_2col.html" %}
{% load i18n %}


{% block javascript_extra %}


<script src="{{ STATIC_URL}}jquery.js"></script>
<script src="{{STATIC_URL}}anytime.js"></script>
 <script>
 $(function() {
		$( ".Any" ).AnyTime_picker();
	});



</script>
{% endblock javascript_extra%}

{% block content %}
{%load bootstrap%}
{%bootstrap_css%}
<div id ="contentcolumn">
<div id="contentcolumn">


<h2>Please fill out the following form to downlowd the corrsponding Datasheet </h2>

<form action="../produceData/" method="get"> {% csrf_token %}

User:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<select name=user>
<p>
{%for item in users%}
	 <option value={{item.username}}> {{item.username}}</option>
{%endfor%}
<option value ='all' > all users </option>
</select>
</P>
<br><br>

<P>	
	Start Date: <input name="start" type=text class="Any" id="one">
</P>

<br><br>
<P>	
	End Date:&nbsp; <input name="end" type=text class="Any" id="two">
</P>
<br><br>
<P>
	<input type=submit value="Submit">
</P>	
</form>
</div>
</div>
{% endblock %}
