{% extends "base_2col.html" %}
{% block javascript_extra %}
<script src="{{STATIC_URL}}anytime.js"></script>
<script type="text/javascript">
    $(function() {
        $( ".AnyTime_picker" ).AnyTime_picker();
            });
</script>
{% endblock javascript_extra%}


{% load i18n %}
{% block content %}


<div id ="leftcolumn">
    <ul class="vertical_menu">
        <li><a href="{%url showProjects%}"> Show Projects </a></li>
        <li><a href="{%url addProject%}"> Open a Project</a></li>
        <li><a href="{%url closeProject%}">Close a Project</a></li>
    </ul>
</div>

<div id="contentcolumn">
    <form action="{% url closeProject%}" method="post"> {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit" />
     </form>

</div>
{%endblock%}

