{% extends "base_2col.html" %}
{% load i18n %}


{% block extrajs %}
{% endblock %}

{% block content %} 
{%load bootstrap%}
{%bootstrap_css%}

 <div id="leftcolumn">
    {% if request.user.is_superuser %}
        {%include "navigation.html"%}
    {%else%}
        {%include "user_navigation.html"%}
    {%endif%}
  </div>

  <div id="contentcolumn">

<h2>printing results for user {{username}}</h2>

<Table >

<tr>
<th> Barcode </th>
<th> User </th>
<th> Duration </th>
<th> Pages </th>
<th> Comments</th>
<th> Book Complete </th>
<th> Pages per Hour </th>
<th> Task Type</th>
<th> Start Date </th>
</tr>


{% for item in list %}
	<tr>
	
	<td>{{item.barcode}} </td>
	<td>{{item.user}} </td>
	<td>{{item.duration}} </td>
	<td>{{item.objects}} </td>
	<td>{{item.comments}}</td>
	<td>{{item.isFinished}} </td>
	<td>{{item.rate}} </td>
	<td>{{item.task}} </td>
	<td>{{item.startTime}} </td>
	</tr>
{% endfor %}
	<hr>
	<tr>
	<td> <b>TOTAL</b> 	</td>
	<td>		</td>
	<td>{{totalHours}} Hours		</td>
	<td>{{totalPages}}		</td>
	</tr>
</table>

</div>
{% endblock %}


