{% extends "base_2col.html" %}
{% load i18n %}


{% block extrajs %}
{% endblock %}

{% block content %} 
{%load bootstrap%}
{%bootstrap_css%}


  <div id="contentcolumn">

<h2>printing results for user {{username}}</h2>

<Table >

<tr>
<th> Barcode </th>
<th> User </th>
<th> Duration </th>
<th> Pages </th>
<th> Comments</th>
<th> Book Complete </th>
<th> Pages per Hour </th>
<th> Item Type </th>
<th> Task Type</th>
<th> Start Date </th>
</tr>


{% for record in list %}
	<tr>
        <td><a href="{%url barcode record.barcode %}">{{record.barcode}}</a> </td>
        <td><a href="{%url user record.user %}">{{record.user}}</a></td>
	<td>{{record.duration}} </td>
	<td>{{record.objects}} </td>
	<td>{{record.comments}}</td>
	<td>{{record.isFinished}} </td>
        <td>{{record.rate}} </td>
        <td><a href="{%url item record.itemType %}">{{record.itemType}}</a></td>
        <td><a href="{%url task record.task %}">{{record.task}} </a></td>
	<td>{{record.startTime}} </td>
	</tr>
{% endfor %}
	<hr>
	<tr>
	<td> <b>TOTAL</b> 	</td>
	<td>		</td>
	<td>{{totalHours}} Hours		</td>
	<td>{{totalPages}}		</td>
	</tr>
</table>

</div>
{% endblock %}


