{% extends "base_2col.html" %}


{% load i18n %}
{% load barcode_tags %}

{% block javascript_extra %}


<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script>
var data= new Array();
{%get_all_barcodes%}
{%for barcode in barcodes%}

data.push( "{{barcode}}");

{%endfor%}

	

$(document).ready(function() {

$("input#autocomplete").autocomplete({
	source: data
});
	});
</script>
{%endblock javascript_extra%}
{% block title %}{% trans "Search Barcode" %}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block content %}

<div id ="leftcolumn">
    <ul class="vertical_menu">
        <li><a href="{% url 'admin_session_data' %}">Scan an Item</a></li>
        <li><a href="{%url 'display_item_processing_form' %}"> Process an Item </a></li>
    </ul>
</div>





  <div id="contentcolumn">

    <h1> Scan New Item </h1>
    <form action="../process_book_form/" method="post"> {% csrf_token %}
        <p><label for="id_project">Project:</label> <select name="project" id="id_project">
            <option value="" selected="selected">---------</option>
            {%for p in projects%}
                <option value="{{p.id}}"> {{p.name}} </option>
            {%endfor%}
        </select></p>
        <p><label for="autocomplete">Barcode:</label> <input type="text" id="autocomplete" name="barcode" maxlength="50" /></p>
        <p><label for="autocomplete">ItemType:</label> <select id="autocomplete" name="itemType">
            <option value="" selected="selected">---------</option>
            <option value="Book">Book</option>
            <option value="Map">Map</option>
            <option value="Microfilm">Microfilm</option>
            <option value="Audio">Audio</option>
            <option value="Video">Video</option>
            <option value="Others">Others</option>
        </select></p>
<input type="submit" value="Submit" style="position:relative;left: 30%;"/>
</form>
  </div>	

{% endblock %}
