{% load url from future %}

<header>
    <div id="libheader-container">
        <div id="libheader" >
            <div class="libheader-libbutton"><input type="button" value="logout" onclick="location.href='../logoutUser';" style="background-color:white;"></div>
            <div class="libheader-logo hide-lo"><a href="http://www.gwu.edu" target="_blank" title="GWU website"><img src="{{ STATIC_URL }}images/gwheaderlogo.png" width='309' height='32' alt="logo: The George Washington University" /></a></div>
            <div class="libheader-liblink"><a href="http://library.gwu.edu" target="_blank" title="GW Libraries website">GW Libraries</a></div>
        </div>
    </div>
</header>
