{% extends "base_2col.html" %}


{% block javascript_extra %}


<script src="{{STATIC_URL}}jquery.js"></script>
<script src="{{STATIC_URL}}anytime.js"></script>
<script type="text/javascript">
    $(function() {
        $( ".AnyTime_picker" ).AnyTime_picker();
    });
</script>
{% endblock javascript_extra%}
{% load i18n %}

{% block title %}{% trans "Processing Sesssion Form" %}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}




{% block content %}



{% if error %}
 
<p class="error">{{ error }}</p>
 
{% endif %}



<div id="contentcolumn">
 <h1>  {{task}} an Item </h1>
<form action="../process_processing_form/" method="post"> {% csrf_token %}
<label for="id_itemtype">{% trans "Item Type" %}</label>

    {%if itemType == "Book"%}
        <p><select name= "itemType">
           <option value="Book" selected="selected">Book</option>
           <option value="Map" disabled="disabled">Map</option>
           <option value="MicroFilm" disabled="disabled">Microfilm</option>
           </select>
        </p>
    {%elif itemType == "Map"%}
        <p><select name= "itemType">
           <option value="Book" disabled="disabled">Book</option>
           <option value="Map" selected="selected">Map</option>
           <option value="MicroFilm" disabled="disabled">Microfilm</option>
           </select>
        </p>
    {%else%}
        <p><select name= "itemType">
           <option value="Book" disabled="disabled">Book</option>
           <option value="Map" disabled="disabled">Map</option>
           <option value="Microfilm" selected="selected">Microfilm</option>
           </select>
        </p>
 {%endif%}

{{form.as_p}}
<input type="submit" value="Submit" />
</form>

{% endblock %}
