{% extends "base_2col.html" %}


{% block javascript_extra %}


<script src="{{STATIC_URL}}jquery.js"></script>
<script src="{{STATIC_URL}}anytime.js"></script>
<script type="text/javascript">
    $(function() {
        $( ".AnyTime_picker" ).AnyTime_picker();
    });
</script>
{% endblock javascript_extra%}
{% load i18n %}
{%load live_validation%}

{% block title %}{% trans "Processing Sesssion Form" %}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}




{% block content %}
{%load bootstrap%}
{%bootstrap_css%}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}><h2>{{ message }}</h2></li>
    {% endfor %}
</ul>
{% endif %}
{% if error %}
 
{{ error }}
 
{% endif %}
{{%form.as_p%}}
{% endblock %}
