{% extends "base_2col.html" %}


{% block extrajs %}


<script src="{{STATIC_URL}}jquery.js"></script>
<script src="{{STATIC_URL}}anytime.js"></script>
<script type="text/javascript">
    $(function() {
        $( ".AnyTime_picker" ).AnyTime_picker();
    });
</script>
{% endblock %}
{% load i18n %}

{% block title %}{% trans "User registration" %}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}




{% block content %}
{%load bootstrap%}
{%bootstrap_css%}

<H1> {{msg}} </h1>

<A HREF="../processBookForm/"> Add Another Record </A> <br>
<A HREF="../logoutUser">Logout</A>
{% endblock %}
