<div id="navcontainer">
    <ul id="navlist">
        <li id="active"><a href="{% url indexPage %}" id="current">Home</a></li>
        <li><a href="{% url project %}">Project</a></li>
        <li><a href="{% url itemMenu %}">Item</a></li>
        <li><a href="{% url showUsers %}">Generate Report</a></li>
        <li><a href="../../showGraph/pie">Generate Graph</a></li>
        {%if user.is_authenticated%}
            <li><a href="{% url profile_menu %}">Edit profile</a></li>
            {%if user.is_superuser%}
            <li><a href="{% url admin:index%}"> Admin </a></li>
            {%endif%}
        {%endif%}
    </ul>
</div>

