<div class="navigation">
    <ul>
        <li><a href="{% url indexPage %}">Home</a></li>
        <li><a href="{% url adminSessionData %}">Scan new Item</a></li>
        <li><a href="{%url displayItemProcessingForm %}"> Process an Item </a></li>
        <li><a href="{% url showUsers %}">Generate a Report</a></li>
        <li><a href="{% url showGraph %}">Generate a Graph</a></li>
        {%if user.is_authenticated%}
            <li><a href="{% url profile_menu %}">Edit profile</a></li>
        {%endif%}
    </ul>
</div>

