{% extends "base_2col.html" %}
{% load i18n %}


{% block extrajs %}
{% endblock %}
{% block content %} 



{% if messages %}
<ul class="messages">
        {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}><h2>{{ message }}</h2></li>
    {% endfor %}
</ul>
{% endif %}
{%if user.is_superuser%}
	<A HREF="../indexPage/"> Home </A> <br>
	<A HREF="../logoutUser">Logout</A>
{%else%}
<A HREF="../processBookForm/"> Add Another Record </A> <br>
<A HREF="../logoutUser">Logout</A>
{%endif%}
{% endblock %}
	
