{% extends "base_2col.html" %}
{% load i18n %}


{% block extrajs %}
{% endblock %}
{% block content %} 
{%load bootstrap%}
{%bootstrap_css%}

{% if messages %}
<ul class="messages">
        {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}><h2>{{ message }}</h2></li>
    {% endfor %}
</ul>
{% endif %}
{%if user.is_superuser%}
	<A HREF="../index/"> Home </A> <br>
	<A HREF="../logout">Logout</A>
{%else%}
<A HREF="../bookresult/"> Add Another Record </A> <br>
<A HREF="../logout">Logout</A>
{%endif%}
{% endblock %}
	
