{% extends "base_2col.html" %}
{% load i18n %}


{% block title %} {{ user.first_name }} {{ user.last_name }}{% endblock %}



{% block content %}
{%load bootstrap%}
{%bootstrap_css%}
<div id ="leftcolumn">
    <ul class='vertical_menu'>
        <li><a href="{%url view_profile%}">View Profile</a></li>
        <li><a href="{%url edit%}">Edit Profile</a></li>
        <li><a href="{%url reset_password%}">Reset Password</a></li>
    </ul>

</div>
<div id="contentcolumn">
    <p>Please specify your email address to receive instructions for resetting it.</p>

    <form action="" method="post">
        <div style="display:none">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
        </div>
        {{ form.email.errors }}
        <p><label for="id_email">E-mail address:</label> {{ form.email }} <input type="submit" value="Reset password" /></p>
    </form>
</div>
{%endblock%}
