{% extends "base_2col.html" %}


{% load i18n %}
{% load barcode_tags %}


{% block extrajs %}


<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script>
var data= new Array();
{%get_all_barcodes%}
{%for barcode in barcodes%}

data.push( "{{barcode}}");

{%endfor%}

	

$(document).ready(function() {

$("input#autocomplete").autocomplete({
	source: data
});
	});
</script>
{%endblock%}
{% block title %}{% trans "Search Barcode" %}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block content %}

{%load bootstrap%}
{%bootstrap_css%}
<div>
<div id="leftcolumn">
{% if request.user.is_superuser %}
    {%include "navigation.html"%}
{%else%}
    {%include "user_navigation.html"%}
{%endif%}
</div>

<div id="contentcolumn">
<h1> Process an Item </h1>

<form action="../processItemForm/" method="post"> {% csrf_token %}

<label id="id_taskType"> Task </label>
<p>
<select name="taskType">
<option value="QC">QC</option>
<option value="QA">QA</option>
</select>
</p>

<label for="id_itemType">{% trans "ItemType" %}</label>
                <p>{{ form.itemType }}
                        {% if form.item.errors %}
                                <span class="quiet red"><br />* {{ form.book.errors|join:"; " }}</span>
                        {% endif %}
                </p>

<label id="toLabel">Enter Barcode:</label>  
             
                <p><input name="barcode" id="autocomplete" > </p> 
       
		<input type="submit" value="Submit" style="position:relative;left: 30%;"/>

             
</form>		
</div>
</div>	

{% endblock %}
