{% extends "base_2col.html" %}



{%block javascript_extra%}
<script type="text/javascript">
    $(function() {
        $( ".AnyTime_picker" ).AnyTime_picker();
    });
</script>
{%endblock javascript_extra%}
{% load i18n %}

{% block title %}{% trans "Processing Sesssion Form" %}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}




{% block content %}
{%load bootstrap%}
{%bootstrap_css%}

{% if error %}
 
{{ error }}
 
{% endif %}
<div id="leftcolumn">
{% if request.user.is_superuser %}
    {%include "navigation.html"%}
{%else%}
    {%include "user_navigation.html"%}
{%endif%}
</div>

<div id="contentcolumn">

<form action="../processProcessingForm/" method="post"> {% csrf_token %}
<label for="id_itemtype">{% trans "Item Type" %}</label>

    {%if itemType == "Book"%}  
        <p><select name= "itemType">
           <option value="Book" selected="selected">Book</option>
           <option value="Map" disabled="disabled">Map</option>
           <option value="MicroFilm" disabled="disabled">Microfilm</option>
           </select>
        </p>
    {%elif itemType == "Map"%}
        <p><select name= "itemType">
           <option value="Book" disabled="disabled">Book</option>
           <option value="Map" selected="selected">Map</option>
           <option value="MicroFilm" disabled="disabled">Microfilm</option>
           </select>
        </p>
    {%else%}
        <p><select name= "itemType">
           <option value="Book" disabled="disabled">Book</option>
           <option value="Map" disabled="disabled">Map</option>
           <option value="Microfilm" selected="selected">Microfilm</option>
           </select>
        </p>
    {%endif%}
{{form.as_p}}
		
		
<input type="submit" value="Submit" />
</form>
</div>
{% endblock %}
