{% extends "base_2col.html" %}


{% load i18n %}
{% load barcode_tags %}


{% block javascript_extra %}


<script>
var data= new Array();
{%get_all_barcodes%}
{%for barcode in barcodes%}

data.push( "{{barcode}}");

{%endfor%}

	

$(document).ready(function() {

$("input#autocomplete").autocomplete({
	source: data
});
	});
</script>
{%endblock javascript_extra%}
{% block title %}{% trans "Search Barcode" %}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block content %}




<div id="contentcolumn">
<h1> Process an Item </h1>

<form action="../processItemForm/" method="post"> {% csrf_token %}

<label id="id_taskType"> Task </label>
<p>
<select name="taskType">
<option value="QC">QC</option>
<option value="QA">QA</option>
</select>
</p>

<label for="id_itemType">{% trans "ItemType" %}</label>
                <p>{{ form.itemType }}
                        {% if form.item.errors %}
                                <span class="quiet red"><br />* {{ form.book.errors|join:"; " }}</span>
                        {% endif %}
                        </p>

<label id="toLabel">Enter Barcode:</label>  
             
<p><input type="text" id="autocomplete" name="barcode" maxlength="50" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true"></p> 
       
		<input type="submit" value="Submit" style="position:relative;left: 30%;"/>

             
</form>		
</div>

{% endblock %}
