{% extends "base_2col.html" %}
{% load i18n %}

{% block content %}
{%load bootstrap%}
{%bootstrap_css%}
<div id ="leftcolumn">
    <ul class="vertical_menu">
    <li><a href="{%url view_profile%}">View Profile</a></li>
    <li><a href="{%url edit%}">Edit Profile</a></li>
    <li><a href="{%url reset_password%}">Reset Password</a></li>
</ul>
</div>
<div id="contentcolumn">
    <p>This section lets users view and modify their profile settings. 
    All supported profile parameters can be viewed and changed. 
    Rigth now a few parameters like user's department and email are added 
    to profiles. More parameters might be added in future as the use of 
    application grows and users see the need for more parameters to be added.</p>
</div>
{%endblock%}
