{% extends "base_2col.html" %}
{% load i18n %}


{% block title %} {{ user.first_name }} {{ user.last_name }}{% endblock %}



{% block content %}
{%load bootstrap%}
{%bootstrap_css%}
<div id ="leftcolumn">
    <ul class='vertical_menu'>
        <li><a href="{%url view_profile%}">View Profile</a></li>
        <li><a href="{%url edit%}">Edit Profile</a></li>
        <li><a href="{%url reset_password%}">Reset Password</a></li>
    </ul>

</div>
<div id="contentcolumn">
    <p> password reset was successful. An email to reset your password is sent. You should recieve it soon. </p>
</div>
{%endblock%}

