{% extends "base_2col.html" %}
{% load i18n %}



{%block javascript_extra%}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script>

            google.load('visualization', '1.0', {'packages':['annotatedtimeline']});
            google.setOnLoadCallback(drawChart);

    function drawChart() {


            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('date', 'Date');
            data.addColumn('number', 'Items');
            data.addColumn('string', 'Task');
            {%for v in values%}
            var date_obj = '{{v.Date}}';
            date_obj = date_obj.replace(/\./g,'');
            date_obj = date_obj.replace(/,/g,'');

            data.addRow([new Date(date_obj), {{v.objects}}, '{{v.task}}']);
            {%endfor%}

            var chart = new google.visualization.AnnotatedTimeLine(document.getElementById('chart_div'));
            chart.draw(data, {
                    'colors': ['blue', 'red', '#0000bb'], // The colors to be used
                    'displayAnnotations': true,
                    'displayExactValues': true, // Do not truncate values (i.e. using K suffix)
                    'displayRangeSelector' : true, // Do not sow the range selector
                    'displayZoomButtons': false, // DO not display the zoom buttons
                    'fill': 30, // Fill the area below the lines with 20% opacity
                    'legendPosition': 'newRow', // Can be sameRow
                    //'max': 100000, // Override the automatic default
                    //'min':  100000, // Override the automatic default
                    'scaleColumns': [0, 1], // Have two scales, by the first and second lines
                    'scaleType': 'allfixed', // See docs...
                    'thickness': 2 // Make the lines t
                });
        
    }
</script>

{%endblock javascript_extra%}

{% block title %}{% trans "Home" %}{% endblock %}

{% block content %}


<div id ="leftcolumn">
    <ul class="vertical_menu">
        <li><a  href="../../showGraph/pie">Pie Chart</a></li>
        <li><a  href="../../showGraph/bar">Bar Chart</a></li>
        <li><a  href="../../showGraph/combo"> Combo Chart</a></li>
        <li><a  href="../../showGraph/time"> Timeline Chart</a></li>
    </ul>
</div>

<div id="contentcolumn">
    <h1>Welcome {{ user.username}} </h1>
<div id="dashboard_div">
<div id="filter_div"></div>
<div id="chart_div" style='width: 700px; height: 200px;'></div>

</div>
</div>

{% endblock %}
