#libheader-container {
    background-image: url(/static/img/bg-local-nav-bottom.png);
}

body {
}

.library-has {
    color: gray;
    font-size: small;
}

.item_list {
	margin: 0px auto;
	padding: 0px;
	width: 383px;
	height:311px;
}
.item_head {
	padding: 5px 10px;
	cursor: pointer;
	position: relative;
	background-color:#FFCCCC;
	margin:1px;
}

.item_body {
	padding: 5px 10px 15px;
	background-color:#F4F4F8;
}

.submit-row {
    width:400px;
    text-align:center;
    margin-top:1.6em;
}

.error {
    color: red;
    font-weight: bold;
}

ul li{
    text-transform: uppercase;
    color: red;
    font-weight: bold;
    font-size: 16px;
    /*font-style: italic;*/
}

input, textarea {
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

table {
    border: None;
}

table td {padding:.6em;}

table th {padding:.6em;}

label {
    padding-top: 6px;
    padding-right:.5em;
    font-size: 1em;
    /*line-height: 18px;*/
    float: left;
    width: 130px;
    text-align: right;
    color: #404040;
}

@media screen and (max-width:425px) {
  label {
    text-align: left;
    width: auto;
  }
}

tr, td, th {
    text-align: left;
    vertical-align: top;
}

th {
    font-weight: normal;
    color: gray;
}

td {
    border-bottom: 1px solid #e6e6e6;
    padding-top: .4em;
    padding-bottom: .4em;
    MARGIN: 0px;
    COLOR: #000000;
}

p {
   /*font-size: 13px;
   font-weight: normal;
   line-height: 18px;
   margin-bottom: 9px;*/
}

.library-group-header{
    padding-top: 1em;
    font-size: large;
    font-family: Georgia, serif;
    font-weight: normal;
    color: #444;
    line-height: 1.3em;
    border-bottom: none;
}

.temp-loc-label{
    color: rgb(96,96,96);
    font-size: small;
}

.off-site{
    color: black;
}

.off-site-explanation{
    color: green;
    font-size: small;
}

.link-volumes{
    font-size: small;
    color: gray;
}

.note-label{
    font-size: small;
    color: black;
}

.note{
    font-size: small;
    color: gray;
}

.itemrow{
    padding-left: 1em;
}

#cover {
    float: left;
    padding: 1.2em 1em .5em 0;
}

#description {
    float: left;
}

#cover-image {
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

footer {
    margin-top: 3em;
}

#persistent-login-button {
  /*float: right;
  margin: 0 0 1em 1em;*/
  float: right;
  margin: 5px 1.6em 0 0;
}

/* overrides bootswatch 'libraries' button styling for login button */
button {padding-top:1px; padding-bottom:1px}

@media screen and (max-width:980px) {
  #persistent-login-button {
    /*margin: -40px 0 0 1em;*/
  }
}

.navigation {
padding-top: 1em;
width: 100%;
height: 35px;
margin-bottom: 10px;
background: url(images/nav.gif);
background-repeat: repeat-x;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
-khtml-border-radius: 2px;
}

.navigation ul {
        margin: 0;
        text-align: center;
        width: 100%;
        padding: 0;
}

.navigation ul li {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 15px;
        color: #f9f9f9;
        list-style-type: none;
        display: inline;
        text-align: center;
        line-height: 1.8em;
        padding-left: 1%;
        margin: 0;
}

.navigation ul li a:link, a:visited {
        font-weight: bold;
        color: #666;
}

.navigation ul li a:hover {
        color: #0096ff;
}

ul.top-level {
   background: #fff;
   border: solid;
   border-width: 1px;
   border-color: ##03314b;
   width: 198px;
}

#navcontainer
{
    margin: 1em 1em 1em 0;
    /*padding: 0 0 0 2px;*/
}

#navcontainer UL
{
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
}

#navcontainer LI
{
    display: block;
    top-margin: 7px;
    padding: .1em;
    float: left;
    width: auto;
}

#navcontainer A
{
    color: #f9f9f9; /*#ddd;*/
    display: block;
    width: auto;
    text-decoration: none;
    background: #005581;
    margin: 0;
    padding: .5em .4em .4em;
    /*border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-right: 1px solid #aaa;*/
    border-radius: .2em;
}

#navcontainer A:hover, #navcontainer A:active { 
    background: #03314b; 
}

#navcontainer A.active:link, #navcontainer A.active:visited
{
    position: relative;
    z-index: 102;
    background: #777777;
    font-weight: bold;
}

#contentwrapper{
   float: left;
   width: 100%;
}

#contentcolumn{
   /*margin-left: 250px; */ /* Set left margin to LeftColumnWidth*/
   /*min-height: 250px;*/
}

#leftcolumn{
   float: left;
   width: 200px; /*Width of left column*/
   /*background-color: #005581;*/
   padding-top:5px;
   /*margin-left:16px;*/
}

.vertical_menu {
    background-color: #005581;
    padding: 1em;
    margin: 0;    
    border-radius: .2em;
}

.vertical_menu ul {border-radius:.2em;}

.vertical_menu li {
    /*font-family: Verdana, Geneva, sans-serif;*/
    font-size: 1em;
    color: #f9f9f9;
    list-style: none;
    padding-bottom:.3em;
}
            
.vertical_menu li a:link {
    font-weight: bold;
    text-decoration: none;
    /*color: #919191;*/
    color: #f9f9f9;;
}

.vertical_menu li a:visited  {
    font-weight: bold;
    text-decoration: none;
    /*color: #919191;*/
    color: #f9f9f9;;
}
                
.vertical_menu li a:hover {
    text-decoration: underline;
    color: #f9f9f9;
}

.dataTable td th {padding:.6em;}

.dataTable a:link {
    font-weight: normal;
    text-decoration: none;
    color: #0E0080;
}

.dataTable a:visited {
    font-weight: normal;
    text-decoration: none;
    color: #0E0080;
}

.dataTable a:hover {text-decoration:underline;}
